/* Setup basics CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;
  box-shadow: none;
  font-family: "Lato", sans-serif;
}

/* variables */
:root {
  --primary: #70c6a6;
  --heading: #353738;
  --text: #848789;
  --input-border: #d3d7d9;
  --input-text: #929292;
  --bg-light: #f7f7f7;
  --bg-dark: #1a1c28;
}

/*structure*/
.wrapper {
  max-width: 160rem;
  margin: 0 auto;
}

/*header*/
.header {
  min-height: 80rem;
  background-image: url("../images/img-bg-header.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.nav {
  margin-top: 3rem;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}

.nav__item:first-child:after,
.nav__item:nth-child(4):after {
  content: ".";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
}

.nav__link {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: var(--heading);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
}

/* ===========FEATURE=========== */
.feature__header {
  padding: 11rem 1.5rem 14rem;
  background-color: var(--bg-light);
}

.feature__img-top {
  margin: 0 auto 3rem;
}

.feature__heading {
  font-size: 1.8rem;
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--heading);
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}

.feature__header-desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--text);
  max-width: 106rem;
  margin: 0 auto;
  text-align: center;
}

.feature__item {
  display: flex;
  flex-flow: row wrap;
  height: 60rem;
  overflow: hidden;
}

.feature__item-img {
  width: 67%;
  position: relative;
  /*Note*/
}

.feature__item .img__bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature__item .img__brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.feature__item-content {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature__item-content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 7rem;
  position: relative;
  background-color: white;
  height: 67%;
}

.feature__item-content-top:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
  z-index: 10;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.feature__item-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text);
  text-align: justify;
  position: relative;
  padding-bottom: 3rem;
}

.feature__item-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 1px;
  background-color: var(--bg-light);
}

.feature__item-content-bottom {
  height: 33%;
}

.feature__item:nth-child(2) .feature__item-img {
  order: 2;
}

.feature__item:last-child>.feature__item-img {
  width: 33%;
}

.feature__item:last-child>.feature__item-content {
  width: 34%;
}

.tweet {
  padding: 12.5rem 1.5rem 7rem;
  background-color: var(--bg-light);
  text-align: center;
}

.tweet__icon {
  font-size: 4rem;
  color: #00aefd;
  margin-bottom: 3rem;
}

.tweet__heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.tweet__location,
.tweet__author {
  color: var(--heading);
  font-weight: bold;
}

.tweet__time {
  color: var(--text);
  font-weight: 300;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}

.tweet__time:before {
  content: "/";
  position: absolute;
  left: 0;
  top: 0;
}

.tweet__content {
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--text);
  font-style: italic;
  max-width: 104.5rem;
  margin: 0 auto 10rem;
}

.tweet__pagi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet__pagi-item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  border: 1px solid var(--text);
  margin-left: .5rem;
  margin-right: .5rem;
}

.tweet__pagi-item.is-active {
  background-color: var(--text);
}

.images {
  display: flex;
  justify-content: space-between;
  height: 53.5rem;
  overflow: hidden;
}

.images__block {
  width: 33.333%;
  height: 100%;
  display: flex;
}

.images__block:first-child {
  flex-direction: column;
}

.images__block-item {
  height: 50%;
  width: 100%;
}

.images__block-item:first-of-type {
  display: flex;
}

.images__item {
  width: 50%;
  height: 100%;
}

.images__block-item:last-of-type .images__item {
  width: 100%;
}